.pager {
  &--mobile {
    @include breakpoint($for-tablet-portrait-up) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include breakpoint($for-tablet-portrait-up) {
      display: block;
    }
  }
}

.pager__items {
  display: inline-flex;
  justify-content: center;
  list-style: none;
  margin: $gutter 0 $gutter;
  padding: $gutter;
  width: auto;
}

.pager__item {
  align-items: center;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin: 0 5px;

  a {
    align-items: center;
    background-color: $gray-light;
    border: 1px solid $gray-light;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    min-height: 38px;
    min-width: 38px;
    padding: $gutter * .25;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $white;
      color: $blue;
    }
  }

  &.is-active {
    border-radius: 3px;

    a {
      background-color: $blue;
      border: 1px solid $blue;
      color: $white;
      pointer-events: none;
    }
  }

  &.is-disabled {
    cursor: not-allowed;

    a {
      pointer-events: none;
    }

    .icon {
      fill: $gray-dark;
    }
  }

  .icon {
    fill: $blue;
    height: $gutter * 1.25;
    width: $gutter * 1.25;
  }
}

.pager__item--previous {
  .icon {
    transform: rotate(180deg);
  }
}

.pager__item--ellipsis {
  min-height: 38px;
  min-width: 38px;
}

.pager__item--wide {
  min-width: 90px;
  padding: 0 $gutter * 1.5;
}
