.icon--abo-dims {
	width: 64px;
	height: 34.15px;
}

.icon--business-dims {
	width: 30px;
	height: 30px;
}

.icon--chevron-down-dims {
	width: 24px;
	height: 24px;
}

.icon--chevron-down--blue-dims {
	width: 24px;
	height: 24px;
}

.icon--chevron-up-dims {
	width: 24px;
	height: 24px;
}

.icon--chevron-up--blue-dims {
	width: 24px;
	height: 24px;
}

.icon--close-dims {
	width: 30px;
	height: 30px;
}

.icon--contact-info-dims {
	width: 30px;
	height: 30px;
}

.icon--customers-dims {
	width: 30px;
	height: 30px;
}

.icon--delete-dims {
	width: 30px;
	height: 29.99px;
}

.icon--edit-dims {
	width: 30px;
	height: 29.99px;
}

.icon--expand-dims {
	width: 30px;
	height: 30px;
}

.icon--fees-dims {
	width: 30px;
	height: 30px;
}

.icon--link-list-dims {
	width: 24px;
	height: 24px;
}

.icon--menu-dims {
	width: 24px;
	height: 24px;
}

.icon--more-information-dims {
	width: 30px;
	height: 30px;
}

.icon--print-dims {
	width: 30px;
	height: 30px;
}

.icon--search-dims {
	width: 30px;
	height: 30px;
}

.icon--service-instructions-dims {
	width: 30px;
	height: 30px;
}

.icon--service-package-dims {
	width: 30px;
	height: 30px;
}

.icon--software-dims {
	width: 30px;
	height: 30px;
}

.icon--tag-dims {
	width: 30px;
	height: 30px;
}

.icon--turku-dims {
	width: 64px;
	height: 25.49px;
}

.icon--user-dims {
	width: 30px;
	height: 30px;
}

