.icon--business-dims {
	width: 30px;
	height: 30px;
}

.icon--chevron-down-dims {
	width: 24px;
	height: 24px;
}

.icon--contact-info-dims {
	width: 30px;
	height: 30px;
}

.icon--customers-dims {
	width: 30px;
	height: 30px;
}

.icon--expand-dims {
	width: 30px;
	height: 30px;
}

.icon--fees-dims {
	width: 30px;
	height: 30px;
}

.icon--menu-dims {
	width: 24px;
	height: 24px;
}

.icon--more-information-dims {
	width: 30px;
	height: 30px;
}

.icon--search-dims {
	width: 30px;
	height: 30px;
}

.icon--service-instructions-dims {
	width: 30px;
	height: 30px;
}

.icon--service-package-dims {
	width: 30px;
	height: 30px;
}

.icon--software-dims {
	width: 30px;
	height: 30px;
}

.icon--tag-dims {
	width: 30px;
	height: 30px;
}

.icon--user-dims {
	width: 30px;
	height: 30px;
}

