.section--label-wrapper {
  @include breakpoint($for-tablet-portrait-up) {
    margin-right: $gutter;
    max-width: 285px;
    min-width: 285px;
  }
}

.section--label {
  @include font-size(18px, 24px);
  @include font-weight($semibold);
  align-items: center;
  color: $blue;
  display: flex;
  margin-bottom: $gutter * 2;

  @include breakpoint($for-tablet-portrait-up) {
    margin-bottom: $gutter * 3;
  }

  .section--label__icon {
    line-height: 16px;
    margin-right: $gutter;

    .icon {
      color: $blue;
      height: 35px;
      width: 35px;
    }
  }
}

.section--content {
  @include font-size(16px, 22px);
  @include font-weight($regular);

  strong,
  b {
    @include font-weight($semibold);
  }

  li,
  p {
    @include font-size(16px, 22px);
    @include font-weight($regular);
  }

  li {
    p {
      margin-bottom: 0;
    }
  }

  ul:not(.pager__items),
  ol {
    margin-top: 0;
    padding-left: 0;

    li {
      list-style: none;
      margin-bottom: $gutter * 0.625;
      padding-left: $gutter;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        background-color: $blue;
        border-radius: 100%;
        content: '';
        height: 8px;
        left: 0;
        position: absolute;
        top: 10px;
        width: 8px;
      }

      ul {
        li {
          margin-bottom: 0;

          &:before {
            background: transparent;
            border: 1px solid $blue;
          }

          ul {
            li {
              margin-bottom: 0;

              &:before {
                background-color: $blue;
                border-radius: 1px;
              }

              ul {
                li {
                  margin-bottom: 0;

                  &:before {
                    background: transparent;
                    border: 1px solid $blue;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

