//
// @file
//
// This file includes all variables related to colors
//
$page-background: #F7F7F7;

$black: #282828;
$white: #fff;

$gray-light: #E7E8E9;
$gray-medium: #C8CDD0;
$gray: #A5ACB0;
$gray-dark: #5F686D;
