$colors: (
  black: $black,
  blue: $blue,
  green: $green,
  cyan: $cyan,
  orange: $orange,
  yellow: $yellow,
  pink: $pink,
  red: $red
);

@mixin colorSet($colorName) {
  &.facet-item label {
    .facet-item__count {
      color: map-get($colors, $colorName);
    }
    &::after {
      .facet-block__content & {
        background-color: map-get($colors, $colorName);
      }
    }
  }
}

@each $color in $colors {
  .color--#{$color} {
    @include colorSet($color);
  }
}
