.paragraph {
  margin: 0 0 $gutter * 4;
}

.paragraph--instruction {
  border-bottom: 1px solid $gray-medium;
  display: flex;
  flex-flow: column;
  margin-bottom: $gutter * 2;
  padding-bottom: $gutter * 2;

  @include breakpoint($for-tablet-landscape-up) {
    flex-flow: row;
  }

  .is-last & {
    border-bottom: 0 none;
  }

  .paragraph__media {
    background-color: #CECBBD4D;
    margin: 0 0 $gutter * 2;
    max-height: 266px;
    max-width: 100%;
    position: relative;

    @include breakpoint($for-mobile-landscape-up) {
      max-width: 420px;
      min-width: 420px;
    }

    @include breakpoint($for-tablet-landscape-up) {
      margin: 0 $gutter * 2 0 0;
    }

    .field__item > a {
      display: flex;
      justify-content: center;
    }

    &:hover {
      .icon {
        box-shadow: 0 0 5px 0 $pink;
      }
    }
  }

  .paragraph__media--icon {
    bottom: $gutter;
    pointer-events: none;
    position: absolute;
    right: $gutter;

    .icon {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.20);
      color: $pink;
      height: 30px;
      width: 30px;
    }
  }
}

// Media paragraph image popup.
.mfp-close {
  @include font-size(40px, 20px);
  @include font-weight($regular);
  opacity: 1;
}
