//
// @file
//
// This file includes everything related to the logo styling
//

.logo {
  align-items: center;
  color: $white;
  display: flex;
  line-height: 0;

  &:focus,
  &:hover {
    color: $white;
    text-decoration: none;

    .icon {
      color: $white;
    }
  }

  &--header {
    flex-wrap: wrap;
    text-decoration: none;

    @include breakpoint($for-mobile-landscape-up) {
      flex-wrap: nowrap;
      padding: 0;
    }

    .icon {
      height: 40px;
      width: 100px;

      @include breakpoint($for-mobile-landscape-up) {
        height: 50px;
        width: 126px;
      }

      @include breakpoint($for-navigation-desktop) {
        height: 60px;
        width: 150px;
      }

      &.logo--abo {
        height: 40px;
        width: 75px;

        @include breakpoint($for-mobile-landscape-up) {
          height: 50px;
          width: 94px;
        }

        @include breakpoint($for-navigation-desktop) {
          height: 60px;
          width: 113px;
        }
      }
    }
  }

  &--text {
    @include font-size(16px, 20px);
    @include font-weight($regular);
    color: $white;
    font-family: $default-font-family;
    letter-spacing: -0.5px;
    margin-top: -5px;
    padding-left: $gutter * 2;
    text-align: left;
    text-decoration: none;

    @include breakpoint($for-mobile-portrait-up) {
      margin: 0;
      padding: 4px 0 0 10px;
    }

    @include breakpoint($for-mobile-landscape-up) {
      @include font-size(23px, 23px);
      padding: 4px 0 0 15px;
    }

    @include breakpoint($for-tablet-portrait-up) {
      padding: 5px 0 0 20px;
    }

    @include breakpoint($for-navigation-desktop) {
      @include font-size(30px, 40px);
      padding: 6px 0 0 20px;
    }

    &.logo--abo {
      padding: 0 0 0 30px;

      @include breakpoint($for-mobile-portrait-up) {
        margin: 0;
        padding: 4px 0 0 10px;
      }

      @include breakpoint($for-mobile-landscape-up) {
        @include font-size(23px, 23px);
        padding: 4px 0 0 15px;
      }

      @include breakpoint($for-tablet-portrait-up) {
        padding: 5px 0 0 20px;
      }

      @include breakpoint($for-navigation-desktop) {
        @include font-size(30px, 40px);
        padding: 6px 0 0 20px;
      }
    }
  }
}
