//
// @file
//
// This file includes everything related to the logo styling
//

.logo {
  align-items: center;
  display: flex;
  line-height: 0;

  &--header {
    flex-wrap: wrap;
    text-decoration: none;

    @include breakpoint($for-mobile-landscape-up) {
      flex-wrap: nowrap;
      padding: 0;
    }

    img {
      max-height: 40px;

      @include breakpoint($for-navigation-desktop) {
        max-height: 100%;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &--text {
    @include font-size(16px, 20px);
    @include font-weight($regular);
    color: $white;
    font-family: $default-font-family;
    letter-spacing: -0.5px;
    padding-left: $gutter * 2;
    text-align: left;

    @include breakpoint($for-mobile-portrait-up) {
      @include font-size(20px, 20px);
      padding: 6px 0 0 20px;

      &.logo--abo {
        padding-top: 11px;
      }
    }

    @include breakpoint($for-navigation-desktop) {
      @include font-size(36px, 40px);
      padding: 6px 0 0 20px;


      &.logo--abo {
        padding-top: 13px;
      }
    }
  }
}
